/*Début Général */
:root {
    --ecriture: #262626; /* Couleur de texte clair */
    --background: #f1f1f1; /* Couleur de fond clair */
    --ecriture2: #494949; /* Couleur de texte secondaire clair */
    --fond : #f1f1f175;
    --rempli : hsla(0, 0%, 85%, 0.449);
}

[data-theme="dark"] {
    --ecriture: #f1f1f1; /* Couleur de texte sombre */
    --background: #262626; /* Couleur de fond sombre */
    --ecriture2: #64648b; /* Couleur de texte secondaire sombre */
    --fond : #64648b62;
    --rempli : hsla(0, 0%, 42%, 0.257);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;   
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--background);
    color: var(--ecriture);
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
}


header {
    height: 20vh;
    width: 100vw;
    background: var(--background);
    background-size: cover;
}

/*Fin Général */



/* Début Barre de navigation version PC */

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: var(--ecriture);
    font-size: 30px;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}


.navbar .nav-links ul {
    display: flex;
    border-radius: 15px;
    border-color: var(--ecriture);
    padding: 2px;
    
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar a {
    font-size: 28px;
}
.navbar .nav-links ul li.active a {
    color: #857b7bb2;
    font-weight: 1000;
}

.navbar .menu-hamburger {
    position: absolute;
    display: none;
    top: 50px;
    right: 30px;
    width: 35px;
}
/* Fin Barre de navigation version PC */



/*Début Barre de navigation téléphone */

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
        

    }
    .navbar .logo {
        position: absolute;
        top: 50px;
        left: 30px;
    }
    
    .navbar .menu-hamburger {
        display : block;
        z-index: 3;
    }
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(27, 23, 23, 0.329);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        z-index: 2;

    }

    .nav-links.mobile-menu {
        margin-left: 0;
        
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
}
    .nav-links ul {
        margin: 25px 0;
        font-size: 1.2em;
    }
    
}

/* Fin Barre de navigation téléphone */



/* Début Changement de Thème */

.navbar, .profil, .contenu, footer {
    color: var(--ecriture2);
}

/* Fin du Changement de Thème */


/* Début Position du changement de Thème */

.changeTheme {
    position: fixed; /* Fixe le bouton à une position précise */
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px; /* Distance du bas de la fenêtre */
    right: 20px; /* Distance du côté droit */
    width: 50px; /* Taille carrée pour mieux gérer l'icône */
    height: 50px;
    border-radius: 50%; /* Donne une forme circulaire au bouton */
    background-color: var(--fond); /* Fond en fonction du thème */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Une légère ombre */
    cursor: pointer;
    z-index: 100; /* S'assurer qu'il est visible devant tout le reste */
    transform: scale(1); /* Taille initiale */
    transition: transform 0.4s ease-in-out; /* Animation fluide */
}

.changeTheme img {
    max-width: 70%; /* Ajuste la taille de l'image à l'intérieur du bouton */
    max-height: 70%;
    cursor: pointer;

}

.changeTheme:hover {
    transform: scale(1.1); /* Agrandit légèrement au survol */
    transition: 0.4s;
}

/* Fin Position du changement de Thème */

/* Début Contenu d'acceuil */

.contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenu p1 {
    color: var(--ecriture);
    font-size: 3em;
}

.contenu p2 {
    color: var(--ecriture2);
    font-size: 1.8em;
    right: 20px;
    
}

/* Fin contenu acceuil */

/* Début contenu Tableau */ 

.tab a{
    color: var(--ecriture);
}

.tab img {
    width: 30px;
}

/* Fin contenu Tableau */

/* Début Version téléphone du tableau */

@media (max-width: 768px) {
    /* Adaptation du tableau */
    table {
        font-size: 0.8em; /* Réduction de la taille de la police */
        width: 100%; /* S'assurer que le tableau prend tout l'espace disponible */
    }

    th, td {
        padding: 8px; /* Ajustement des espacements */
        display: block; /* Affichage en bloc pour une lisibilité sur petits écrans */
        text-align: left; /* Alignement du texte */
    }

    tr {
        display: block; /* Afficher les lignes en bloc */
        margin-bottom: 10px; /* Espacement entre les lignes */
    }

    td a img {
        width: 30px; /* Redimensionnement des images */
        height: auto;
    }
}

/* Fin Version téléphone du tableau */

/* Début contenu Projets */

.btn-link {
    color: var(--ecriture);
    bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 2em;
}

.card img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color : var(--ecriture);
    padding: 0.8em;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid hsla(0, 0%, 36%, 0.575);
    background: transparent;
}

.btn:hover {
    background-color: hsla(0, 0%, 36%, 0.575);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
}

.card-container{
    display: flex;
    padding: 1rem;
}

.card{
    
    border-radius: 1rem;
    background-color: rgba(18,23,42 / 1);
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-body{
    padding: 1rem;
    background-color: var(--background);
}

.card-title {
    color: var(--ecriture);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card-text {
    color: var(--ecriture);
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

/*Début Version téléphone Projets */


@media (min-width : 56rem){
    .card-container{
        width: 33.3333%;
    }
    
}


/*Fin Version téléphone Projets */


/* Fin contenu Projets */

/* Début contenu cv version téléphone */

@media (max-width: 768px) {
    .logo {
        font-size: 1.5em; /* Réduire la taille de la police */
        margin-bottom: 10px;
    }

    /* Section profil */
    .profil {
        display: flex;
        flex-direction: column; /* Affichage en colonne */
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .profil .cadre {
        white-space: nowrap;
        width: 90%; /* Prend presque toute la largeur */
        padding: 10px;
        border: 1px solid #ddd; /* Bordure pour délimiter */
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .profil .cadre .mail {
        white-space: none;
    }

    .profil img {
        width: 50px; /* Réduction de la taille de l'image */
        height: auto;
        margin-bottom: 10px;
    }

    .profil a:hover {
        text-decoration: underline;
    }
}

/* Fin contenu cv version téléphone */

/* Début contenu contact */

.profil {
    font-size: 20px;
    border-radius: 10px;
    padding: 2px;
    justify-content: center;
    display: flex;
    margin: 60px;
    margin-left: auto;
    margin-right: auto;
}

.cadre p2 img {
    height: 40px;
    width: auto;
    margin-top: 10px;
}

.cadre {
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    padding: 1em;
    place-content: center; 
    margin: auto;
    display: flex;
}

.cadre {
    --color: var(--rempli);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 1.75px solid var(--color);
    color: transparent;
    padding: .5em 1em;
    border-radius: .25em;
    z-index: 1;
    position: relative;
    isolation: isolate;
    transform: scale(1); /* Taille initiale */
    transition: transform 0.6s ease-in-out; /* Animation fluide */
}

.cadre:hover{
    transform: scale(1.015);
    transition: 0.75s;
}

.cadre::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--color);
    scale: 0 1;
    transform-origin: bottom;
    transition: scale 450ms;
}

.cadre:hover::after,
.cadre:focus-visible::after {
    transform-origin: left,right;
    scale: 1 1;
}

.profil p1 {
    color: var(--ecriture);
    display: flex;
}

.profil p2 {
    color: var(--ecriture2);
    font-size: 30px;
}


.profil p2 a {
    color: var(--ecriture2);
    text-decoration: none;
}

.profil p2 a:hover{
    text-decoration: underline;
}

/* Début contenu contact version téléphone */
@media (max-width: 768px) {
    .profil .cadre {
        padding: 20px;
        margin: 10px;
        text-align: center;
        font-size: 1em; /* Taille du texte plus petite pour s'adapter */
    }

    .contact {
        display: flex;
        width: 10%;
    }

    .profil p1 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .profil p2 {
        font-size: 1em;
        line-height: 1.5em;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer les éléments */
    }

    .contact-item {
        display: flex;
        flex-direction: column; /* Aligner image et texte en colonne */
        align-items: center; /* Centrer le contenu */
        margin-bottom: 15px;
        font-size: 1em;
    }

    .contact-item img {
        width: 50px; /* Redimensionner l'image */
        height: auto;
        margin-bottom: 10px;
        align-items: center;
    }

    .contact-item span {
        color: var(--ecriture2); /* Couleur du texte */
        font-size: 1.1em;
        text-align: center;
    }
}
/* Fin contenu contact version téléphone */

/* Début contenu Grille */

table {
            border-collapse: collapse;
            border: 10px;
            table-layout: auto;
            width: 100%;
        }
    th, td {
        padding: 5px;
        box-sizing: border-box;
        text-align: left;
        
    }

    td a {
        max-width: 20px;
        min-width: 20px;

    }

    th a {
        max-width: 30px;
       
    }


    tr:nth-of-type(even){
        background: hsla(0, 0%, 36%, 0.575);
    }

/* Fin contenu Grille */

/* Début projet snake */

.projetsnake p1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Fin projet snake */

/* Début projet Portfolio */

.projetportfolio p1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Fin projet Portfolio */

/* Début Droit d'auteur */

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 10px;
    left: 20px;
    color: var(--ecriture);
    z-index: 4;
}

.droit h4 {
    bottom: 10px;

}

.projet{
    display:flex ;  
    justify-content: center;  
    margin-top: 5px;
}

/*Fin droit d'auteur */


.card-container2:hover  {
    transform: scale(1.025);     /* Agrandit légèrement au survol */
    transition: 0.4s;
}


.card-container2 .veille{
    padding: 20px;
    max-width: 400px;
    margin: auto; /* Centre horizontalement */
    display: flex;
    justify-content: center; /* Centre le contenu s'il y a plusieurs éléments internes */
    align-items: center;

}

.card-container2 {
    max-width: 75%;
    margin: auto; /* Centre horizontalement */
    display: flex;
    justify-content: center; /* Centre le contenu s'il y a plusieurs éléments internes */
    align-items: center;

}

.card-text2{
    color: var(--ecriture);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contenu veuille */

.contener h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 30px;
}

.veuille{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}

.nav-links ul li a {
    position: relative;
    text-decoration: none;
    color: var(--ecriture); /* Ajuste la couleur du texte */
    padding: 5px 0;
    transition: color 0.3s ease-in-out;
}

.nav-links ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--ecriture); /* Couleur du soulignement */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-links ul li a:hover {
    color: rgba(89, 108, 217, 0.757); /* Change la couleur du texte au survol */
}

.nav-links ul li a:hover::after {
    width: 100%;
    left: 0;
}


.buttons-de-profil {
    display: flex;
    gap: 50px;
    padding-top: 30px;
    
    display: flex;
    justify-content: center;
}

.btn-profil {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    background-color: var(--background);
    color: var(--ecriture);
    text-decoration: none;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.339);
    border: 1px solid var(--rempli);
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-profil img {
    width: 20px;
    height: 20px;
}

.btn-profil:hover {
    background-color: var(--background);
}

.btn-profil {
    --color: var(--rempli);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    isolation: isolate;
    transform: scale(1); /* Taille initiale */
    transition: transform 0.6s ease-in-out; /* Animation fluide */
}


.btn-profil:hover{
    transform: scale(1.05);
    transition: 0.75s;

}

.btn-profil::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    scale: 0 1;
    transform-origin: bottom;
    transition: scale 450ms;
}


.btn-profil {
    position: relative;
}

.img-btn-profil {
    position: absolute;
    width: 40px; /* Taille plus grande */
    height: 40px;
    opacity: 0; /* Légèrement transparent */
    transition: transform 0.3s ease-in-out;
}

.img-btn-profil:first-child {
    top: -6px;
    left: -6px;
}

.img-btn-profil:last-child {
    bottom: -6px;
    right: -6px;
}

.btn-profil:hover .img-btn-profil {
    
    transform: scale(1.2) rotate(120deg); /* Agrandit et fait tourner l'image */
    transition: 0.6s;
    opacity: 0.8; /* Apparition douce */
    width: 15px;
    height: 15px;
}


/* Assurez-vous que le parent est bien positionné pour contenir le sous-menu */
.nav-links ul li {
    position: relative;
}

/* Assurez-vous que le parent est bien positionné */
.nav-links ul li {
    position: relative;
}

/* Cache le sous-menu de base */
.sousmenu {
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 110%; /* S'affiche juste en dessous */
    left: -180%;
    min-width: 0px; /* Largeur minimale */
    background-color: var(--rempli);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Affiche le sous-menu en douceur quand on survole "Projets" */
.nav-links ul li:hover .sousmenu {
    opacity: 1;
    visibility: visible;
}

/* Style des éléments du sous-menu */
.sousmenu li {
    padding: 0;
}

.sousmenu li a {
    display: block;
    text-decoration: none;
    color: var(--ecriture);
    padding: 10px;
    text-align: center;
}

